body{
    background-color: rgb(34, 34, 34);
    color: rgb(0, 255, 242);
}
.page{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
    /* display: inline-block; */
    width: 40%;
    box-shadow: rgba(6, 255, 243, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    text-align: center;
    height: auto;
    border-radius: 25px;
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    background-color: rgb(94, 91, 91);
    
}
div.page:hover{
    color: white;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
div.signup{
    font-size: 1rem;
    margin: 15%;
    text-align: center;
}
.signup input{
    display: block;
    margin: 2% 0;
    padding: 2%;
    border:none;
    border-radius: 5px;
}
.btn{
    padding: 3% 5% ;
    border:none;
    border-radius: 5px;
    background-color:rgb(173, 173, 173) ;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: rgb(0, 255, 242);
}